@charset "UTF-8";
/**
 * @coding dongzi (dongzi886@gmail.com)
 * @date    2015-09-21 15:48:30
 * @version $Id$
 */
html,body,div,ul,li,p{ margin:0;padding:0;}
html,body{height: 100%; background: #fff;}
body { -webkit-text-size-adjust:none;font-family:tahoma, arial, sans-serif;  color:#000; overflow:hidden;text-align: left;-webkit-appearance:none;}
table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000;}del,ins{text-decoration:none}p{ margin:0; padding:0}img {-ms-interpolation-mode: bicubic;}
a:link,a:visited,a:hover,a:active{ text-decoration:none;outline: none;}
li{ list-style:none;}
img{ vertical-align:middle; width: 100%;}
.loading{ text-align: center;height: 100%;
        font-size: 18px;
        background: #fff;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;}
.wrap{position: relative;min-width: 320px;max-width: 640px;margin:0 auto;overflow: hidden;display: none;}
.main_1{ width: 100%;position: relative;margin-bottom: 10%;}
.map-box{position: relative; width: 100%;}
#container{width: 100%;height:100%;position: absolute;left: 0;top: 0 }
.img-bg{ width: 100%; position: relative;}
.img-btn{ width: 100%; position: fixed;z-index: 100;bottom: 0;left: 0}
.swiper-container {width: 100%;}
.main_1 .swiper-pagination-bullet-active{background: #fff;}
.swiper-container-horizontal>.swiper-pagination{text-align: right;}
.my-pagination{ width: 96%;padding: 0 2%; background: #f6f6f6;padding-top: 20px;overflow: hidden}
.my-pagination span{ width: 33.3%;float: left; height: 50px; line-height: 40px;text-align: center; background: #f6f6f6;border-radius:0;opacity: 1;border-top: 5px #f6f6f6 solid;}
.my-pagination span.swiper-pagination-bullet-active{background: #fff;border-top: 5px #f86964 solid; }
.my-pagination span.swiper-pagination-bullet-active em{ background: none;color: #f86964; }
.my-pagination span em{width: 80%;margin: 0 auto; background: #eeeeee;display: block; height: 80%;color: #848484}
.content-slide{ width: 92%;margin: 0 auto;background: #fff;padding: 10px 0;padding: 10px 2%;}
.swiper-container-index{overflow: hidden;}
.height1{display: none;}
.index-tab{position:absolute;top:22%; width: 100%;z-index: 120;text-align: center;}
.wh{position: relative; width:100%;}
.retiv{position: relative;top: -50%}
.index-tab span{ width: 15.6%;position: absolute;margin-top:-10%;}
.index-tab span.span-prev{z-index: 130;left:44%;}
.main_2{position: relative;background: #f6f6f6;}
#page1{position: relative; width: 100%;top: 0;left: 0;overflow: hidden;}


.text{ width: 86%;margin: 0 auto;text-align: center; padding:0.5em 0;color: #999999}
.text1{position: relative;padding: 0}
.text1 span{position: relative;}
.text1 img{position: absolute;top: 0;left: 2%;width: 96%;}
.text2{color: #000;font-weight: bolder;}
.text3{text-align: left;}
.main-sc{ width: 100%; position: relative;margin-top: 3%;margin-bottom: 1%;}
.main-sc span{position: absolute;background-size: 50%; color: #848484;width: 30%;top: 76%;vertical-align: baseline;}
.main-sc span.lq{left: 10%}
.main-sc span.sc{left: 60%}
.main-sc span img{ width: 15%;margin-right: 10%;}
.main-sc img.b-img{width:0.6%;position: absolute;left:49.6%;top:20%; }
.retive{position: relative;}
.bg{position: relative;}
.cot{position: absolute; width: 100%;left: 0;top: 0;height: 40%;}
.text4{width:100%;color: #444444}
.text5 {width: 100%;color: #666666;overflow: hidden;}
.text5 span.s-left{float: left; width: 70%;}
.text5 span.s-right{float: right; width: 30%;text-align: right}
.text6{ width: 100%;overflow: hidden;}
a.s-right{float: right; width: 60%;text-align: right;text-decoration: underline;color: #666}
.d-img{margin: 10px auto; width: 90%;}
.index-tab span.pic-3{width: 40.3%;left: 50%;margin-top: -25%;position: absolute;z-index: 1;}
/*appdown*/
.downapp{position: fixed;bottom: 0;left: 0;z-index: 999}
.downbg{position: relative; width: 100%;height: 100%;}
.downbox{position: absolute; width: 100%;height: 100%;left: 0;top: 0}
.downbtn{position: absolute; width: 19.3%;right: 8%;top: 23%}
.close{position: absolute;left: 0;top: 0; width: 5.6%}
/**/
.abs{position: relative;top: 0;left: 0;margin:0.8em auto 0;}
.wrap-list{position: relative;min-width: 320px;max-width: 640px;margin:0 auto;overflow: hidden; }
.map_address{ width: 92%;position: absolute;background: #fff;padding:0.6em 4% 0;overflow: hidden;display: block;top: 0;left: 0}
.map_address .text5{color: #000;font-weight: bolder;}
.map-list{position: relative;width: 92%;background: #fff;padding:0.6em 4% 0;overflow: hidden;display: block;top: 0;left: 0}
/**/
.cfs_fadeInRight{animation-name:cfs_fadeInRight;animation-duration:0.5s;-webkit-animation-name:cfs_fadeInRight;-webkit-animation-duration:0.5s;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards}@-webkit-keyframes cfs_fadeInRight{0%{opacity:0;-webkit-transform:translateX(100%)}90%,100%{opacity:1;-webkit-transform:none}}@keyframes cfs_fadeInRight{0%{opacity:0;transform:translateX(100%)}90%,100%{opacity:1;transform:none}}
/**/
@media screen and (min-width: 320px) {
	.my-pagination {padding-top: 10px}
	.my-pagination span{height: 30px; line-height: 22px;}

}
@media screen and (min-width: 460px) {
	.my-pagination {padding-top: 15px}
	.my-pagination span{height: 40px; line-height: 30px;}
	/*//.main-sc{ height: 40px;margin-bottom:15px;margin-top:28px;}*/

}
@media screen and (min-width: 640px) {
	.my-pagination span{height: 50px; line-height: 40px;}
}